* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: rgb(247, 237, 237);
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    text-align: center;
    padding: 70px;
    font-family: poppins, sans-serif;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    background-color: white;
    border: 2px solid;
    border-radius: 4px;
    width: 250px;
    height: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-family: poppins, sans-serif;
}

form label, 
form input, 
form input[type="submit"] {
    margin-bottom: 15px;
    text-align: center; 
}

input {
    font-family: poppins, sans-serif;
}

.bt-submit {
    padding: 20px;
}

input[type="submit"] {
    background-color: blueviolet;
    color: white;
    width: 177px;
    height: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: poppins, sans-serif;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: darkviolet;
}

@media (max-width: 600px) {
    form {
        width: 90%;
        padding: 20px;
    }

    input[type="submit"] {
        width: 100%;
    }
}